*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    transition: all .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

html {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    @include flex-center-col;
}

body {
    background: $color-grey-dark-2;
    background: #232526;
    background: linear-gradient(to right, #414345, #232526);
    min-height: 100vh;
    width: 100%;
    @include flex-start;
    color: $color-white;
}

a, a:link, a:active, a:visited {
    color: $color-white;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;

    &-track {
        background: $color-grey-dark-1;
    }

    &-thumb {
        background: $color-grey-dark-3;
        border-radius: 1000px;
    }
}