*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    transition: all .2s;
}

html {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    @include flex-center-col;
    background: #000;
}

body {
    height: 100%;
    width: 100%;
    @include flex-center-col;
    color: $color-white-1;
}

main {
    height: 100%;
    width: 100%;
    padding: 0 5%;
}

section {
    margin-bottom: 4rem;
}

a, a:link, a:active, a:visited {
    color: #fff;
}

h2 {
    font-size: $font-size-lg;
    margin-bottom: 1rem;
}

// ::selection {
//     background: $color-primary;
//     color: #fff;
// }