body {
    font-family: 'Lato', sans-serif;
    font-size: $font-size-default;
}

.notification {
    &__container {
        font-size: $font-size-sm;
    }
}

.nav {
    font-size: $font-size-sm;

    &__heading {
        font-size: $font-size-md;
        font-family: 'Montserrat', sans-serif;
        line-height: 1;
    }

    &__text {
        font-family: 'Montserrat', sans-serif;
        font-size: $font-size-xs;

        &--favorites-count {
            font-size: $font-size-xxs;
            font-weight: 600;
            font-variant-numeric: tabular-nums;
        }
    }
}

.search {
    &__input {
        font-size: $font-size-sm;
    }
}

.tmdb__text {
    font-family: 'Lato', 'sans-serif';
    font-size: $font-size-xxs;
}

main {
    .heading {
        font-family: 'Montserrat', sans-serif;
        font-size: $font-size-lg;
    }

    .select {
        font-family: 'Lato', sans-serif;
        font-size: $font-size-default;
    }
}

.movie {
    font-size: $font-size-sm;
}

.movie-info {
    font-family: 'Montserrat', sans-serif;

    &__title {
        font-size: $font-size-xl;
        font-weight: 600;
        line-height: 1;
    }

    &__year {
        font-size: $font-size-md;
        font-weight: 600;
    }

    &__genres {
        font-family: 'Lato', sans-serif;
        font-size: $font-size-sm;
    }

    &__overview {
        font-family: 'Lato', sans-serif;
        font-size: $font-size-default;
        line-height: 1.5;
    }

    &__btn {
        font-family: 'Lato', sans-serif;
        font-size: $font-size-sm;
    }

    &__trailer-title {
        font-size: $font-size-lg;
        font-weight: 600;
    }
}