body {
    font-family: 'Lato', sans-serif;
    font-size: $font-size-default;
}

main {
    .heading {
        font-family: 'Montserrat', sans-serif;
        font-size: $font-size-xl;
    }

    .select {
        font-family: 'Lato', sans-serif;
        font-size: $font-size-default;
    }
}

.nav {
    font-size: $font-size-sm;

    &__heading {
        font-size: $font-size-lg;
        font-family: 'Montserrat', sans-serif;
        line-height: 1;
    }

    &__text {
        font-family: 'Montserrat', sans-serif;
        font-size: $font-size-xs;
    }
}

.search {
    &__input {
        font-size: $font-size-sm;        
    }
}

.movie {
    font-size: $font-size-sm;
}

.tmdb__text {
    font-family: 'Lato', 'sans-serif';
    font-size: $font-size-xxs;
}