:root {
    --color-background: red;
    --color-primary: ;
    --color-secondary: ;
}

// ::selection {
//     background: ;
//     color: ;
// }

html {
    min-height: 100%;
    width: 100%;
    // max-width: ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    background: var(--color-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    transition: all .2s;
}

body {
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    font-size: 1.2rem;
}





/* media queries */
@media screen and (max-width: 768px) {

}

@media screen and (max-height: px) {
    
}