// positioning
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
}

@mixin flex-left {
    display: flex;
    justify-content: flex-start;
}

@mixin flex-start {
    display: flex;
    align-items: flex-start;
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// media queries
@mixin respond($breakpoint) {
    @if $breakpoint == xs {
        @media only screen and (max-width: 400px) { @content };
    }

    @if $breakpoint == sm {
        @media only screen and (max-width: 600px) { @content };
    }

    @if $breakpoint == md {
        @media only screen and (max-width: 768px) { @content };
    }

    @if $breakpoint == lg {
        @media only screen and (max-width: 1000px) { @content };
    }

    @if $breakpoint == xl {
        @media only screen and (max-width: 1200px) { @content };
    }
}
