// colors
$color-primary: #8E24AA;
$color-primary-dark: #310a5d;

$color-grey-dark-1: #212121;
$color-grey-dark-2: #2F3136;
$color-grey-dark-3: #616161;

$color-white-1: #E0E0E0;

// font
$font-size-default: 1.6rem;
$font-size-xs: 1.2rem;
$font-size-sm: 1.4rem;
$font-size-md: 2rem;
$font-size-lg: 3rem;

// box-shadows
$box-shadow-sm: 0 0 5px rgba(0, 0, 0, .2);