.top-bar {
    height: 5rem;
    width: 100vw;
    background: $color-grey-dark-2;
    position: fixed;
    z-index: 1000;
    box-shadow: $box-shadow-xl;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__menu {
        background: transparent;
        margin-left: 1rem;
        padding: 1rem;
        display: none;

        @include respond(md) {
            display: block;
        }

        &-bar {
            height: 2px;
            width: 2.5rem;
            opacity: .8;
            background: $color-white;
        }

        &-bar:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    &__branding {
        justify-self: center;
        @include flex-center;
        margin-left: 3rem;

        @include respond(md) {
            margin: 0 auto;
        }
    }

    &__logo-wrapper {
        height: 4rem;
        width: 4rem;
        flex-shrink: 0;
        align-self: center;
    }

    &__logo {
        height: 4rem;
        width: 4rem;
    }

    &__heading {
        margin-left: 1rem;
    }
}

.search {
    position: relative;
    width: 30rem;
    margin-right: 3rem;

    @include respond(md) {
        margin: 0 1rem;
        width: 10rem;
    }

    &__input {
        height: 3rem;
        width: 100%;
        background: $color-grey-dark-1;
        border: none;
        color: $color-white;
        padding: 1rem 4rem 1rem 1rem;
        box-shadow: 0 1px 0 rgba(255, 255, 255, .1), inset 0 1px 1px rgba(0, 0, 0, .1);
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        position: absolute;
        top: 0;
        right: 0rem;
        z-index: 10;
        opacity: .6;
        margin: .5rem 1rem .5rem .5rem;
        cursor: pointer;

        &:hover {
            opacity: .8;
        }
    }
}

.main-container {
    @include flex-start;
}

.nav {
    height: calc(100vh - 5rem);
    min-width: 25rem;
    background: #212121;
    padding: 1rem 2rem;
    @include flex-col;
    position: fixed;
    top: 5rem;
    left: 0;
    z-index: 1;

    @include respond(md) {
        transform: translateX(-100%);
        min-width: 0;
    }

    &__container {
        height: 100%;
        min-width: 25rem;

        @include respond(md) {
            min-width: 0;
        }
    }

    &__tab {
        display: flex;
        align-items: center;;
        cursor: pointer;
        padding: 1rem;

        &--favorites-count {
            background: $color-primary;
            border-radius: 5px;
            padding: 1px 3px;
            margin-left: 1rem;
            text-align: center;
            min-width: 2rem;
            display: none;
        }

        &:hover {
            background: $color-grey-dark-3;
        }
    }

    &__icon {
        margin-right: 1rem;
        height: 1.5rem;
        width: 1.5rem;
        transition: all 1s;

        &--github {
            height: 2rem;
            width: 2rem;
            opacity: .8;
        }
    }

    &__list {
        overflow-y: scroll;
        margin-right: -2rem;
        max-height: 0;
        transition: all 1s;

        &-item {
            list-style: none;
            padding: .75rem 1rem .75rem 3rem;
            margin: 0 2rem;
            cursor: pointer;

            &:hover {
                background: $color-grey-dark-3;
            }
        }
    }

    .tmdb {
        align-self: center;
        @include flex-center-col;
        width: 15rem;
        margin: 1rem 0 2rem 0;

        &__link {
            @include flex-center;
        }

        &__logo {
            height: 4rem;
        }
    }

    &__link {
        margin-top: 1rem;
        align-self: center;
    }

    &__copyright {
        text-align: center;
        opacity: .8;

        @media only screen and (max-height: 400px) {
            display: none;
        }
    }
}

main {
    flex-grow: 1;
    color: $color-white;
    @include flex-col;
    align-items: center;
    padding: 8rem 3rem 1rem 3rem;
    position: relative;

    @include respond(md) {
        padding: 8rem 1rem 1rem 1rem;
    }

    .heading {
        margin-bottom: 1rem;
        text-align: center;
    }

    .label {
        display: none;
    }

    .select {
        background: $color-grey-dark-2;
        padding: .75rem;
        border: none;
        color: $color-white;
        margin-left: 1rem;
        cursor: pointer;
        box-shadow: $box-shadow-sm;

        &__trend {
            margin: 0;
        }
    }

    .movie-info {
        color: $color-white;
        @include flex-col;
        align-items: center;
        position: absolute;
        padding: 10rem 5rem 5rem 5rem;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        background-size: cover;
        background-position: center;
        display: none;

        @include respond(lg) {
            padding: 8rem 3rem 3rem 3rem;
        }

        @include respond(xs) {
            padding: 7rem 2rem 2rem 2rem;
        }

        &__icon {
            &--close {
                margin-right: -2rem;
                margin-top: -2rem;
                height: 3rem;
                width: 3rem;
                align-self: flex-end;
                cursor: pointer;

                @include respond(sm) {
                    margin-right: 0;
                    margin-top: 0;
                }
            }

            &--star, &--clock {
                height: 1.5rem;
                width: 1.5rem;
                margin-right: .5rem;
            }
        }

        &__details {
            align-self: flex-start;
            display: flex;
            padding: 0 1rem;
            margin-bottom: 5rem;

            @include respond(lg) {
                flex-direction: column;
            }
        }

        &__poster-container {
            display: flex;
            width: 20rem;
            flex-direction: column;
            margin-right: 2rem;
            overflow: hidden;
            flex-shrink: 0;

            @include respond(lg) {
                width: 18rem;
                margin-right: 0;
                align-self: center;
                margin-bottom: 3rem;
            }
        }

        &__poster {
            width: 100%;
            height: 30rem;
            margin-bottom: 1rem;

            @include respond(lg) {
                height: 27rem;
            }
        }

        &__year {
            margin-bottom: 1rem;
        }

        &__genres {
            margin-bottom: 1rem;
        }

        &__stats {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
        }

        &__stat-value {
            margin-right: 1rem;
        }

        &__overview {
            margin-bottom: 2rem;
        }

        &__btn {
            background: $color-grey-dark-1;
            color: $color-white;
            padding: 1rem;
            margin-bottom: 1rem;
            transition: all 0;
            display: inline-block;
        }

        &__btn--external {
            background: rgba(0, 0, 0, .3);
            border: 1px solid white;
            margin-right: 1rem;
            padding: .75rem;
        }

        &__trailer {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__trailer-title {
            margin-bottom: 1rem;
        }

        &__trailer-video {
            background: black;

            @include respond(lg) {
                width: 480px;
                height: 270px;
            }

            @include respond(sm) {
                width: 380px;
                height: 214px;
            }

            @include respond(xs) {
                width: 100%;
                height: 100%;
            }
        }
    }
}

// javascript classes
.nav-active {
    transform: translateX(0);
    min-width: 25rem;
}

.selected {
    background: $color-primary;

    &:hover {
        background: $color-primary;
    }
}

.expand {
    max-height: 1155px;
}

.rotate {
    transform: rotate(-180deg);
}