.loader {
    margin: -5rem auto 0 auto;
    width: 7rem;
    align-self: center;
    @include flex-center;

    &__circle {
        width: 1.2rem;
        height: 1.2rem;
        background-color: white;
        border-radius: 100%;
        display: inline-block;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;

        &--1 {
            animation-delay: -0.32s;
        }

        &--2 {
            animation-delay: -0.16s;
        }
    }
}
