.movie {
    width: 16rem;
    min-width: 16rem;
    margin: 1rem 1rem 3rem 1rem;
    background: $color-grey-dark-2;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: $box-shadow-sm;

    &:hover {
        transform: scale(1.05);
        box-shadow: $box-shadow-lg;
    }

    &__container {
        margin-top: 2rem;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    &__title-container {
        display: flex;
        padding: .5rem 1rem 1rem 1rem;
    }

    &__poster {
        height: 24rem;
        width: 16rem;
    }

    &__title {
        max-width: 100%;
    }

    &__filler {
        width: 16rem;
        margin: 1rem;
    }
}