.movie {
    width: 16rem;
    min-width: 16rem;
    margin: 0 .5rem 3rem .5rem;
    background: $color-grey-dark-2;
    position: relative;
    cursor: pointer;
    box-shadow: $box-shadow-sm;

    @include respond(lg) {
        width: 12rem;
        min-width: 12rem;
    }

    @include respond(sm) {
        width: 14rem;
        min-width: 14rem;
    }

    &:hover {
        box-shadow: $box-shadow-lg;
    }

    &__no-results {
        @include flex-center-col;
        align-self: center;
        justify-self: center;
        width: 100%;
        display: none;

        &-illustration {
            height: 20rem;
            width: 20rem;
            opacity: .9;
        }
    }

    &__container {
        margin-top: 2rem;
        display: flex;
        justify-content: space-around; // for UC Browser
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    &__poster {
        height: 24rem;
        width: 16rem;

        @include respond(lg) {
            height: 18rem;
            width: 12rem;
        }

        @include respond(sm) {
            height: 21rem;
            width: 14rem;
        }
    }

    &__title-container {
        display: flex;
        padding: .5rem 1rem 1rem 1rem;
    }

    &__title {
        max-width: 100%;
    }

    &__filler {
        width: 16rem;
        margin: 0 .5rem 3rem .5rem;

        @include respond(lg) {
            width: 12rem;
            min-width: 12rem;
        }

        @include respond(sm) {
            width: 14rem;
            min-width: 14rem;
        }
    }
}