.movie {
    width: 16rem;
    min-width: 16rem;
    margin: 1rem;
    background: $color-grey-dark-1;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;

    &:hover {
        transform: scale(1.05);
    }

    &__container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    &__title-container {
        display: flex;
        padding: .5rem 1rem 1rem 1rem;
    }

    &__poster {
        height: 24rem;
        width: 16rem;
    }

    &__title {
        max-width: 100%;
    }
}