.notification {
    &__container {
        position: fixed;
        bottom: 5rem;
        right: 0;
        background: $color-grey-dark-2;
        box-shadow: $box-shadow-xl;
        padding: 2rem;
        border-left: 1rem solid $color-primary;
        z-index: 1000;
        transform: translateX(110%);
        max-width: 30rem;

        @include respond(md) {
            padding: 1rem;
            max-width: 20rem;
        }
    }
}